<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="angular demo">
  <meta name="author" content="hugin">
  <title>home</title>
</head>
<body ng-app="huginApp">
  <div ng-view></div>
  <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="../node_modules/angular-route/angular-route.js"></script>  
  <script type="text/javascript" src="../static/js/common/services/baseService.js"></script>
  <script type="text/javascript" src="../static/js/home/app.js"></script>
  <script type="text/javascript" src="../static/js/home/homeDetailController.js"></script>
    <script type="text/javascript" src="../static/js/home/homeListController.js"></script>
</body>
</html>